## Task: {{ task_name }}
{% if cwd %}

**Working directory: {{ cwd }}**
All relative paths should be resolved from this directory.
{% endif %}

{{ instruction }}

Please complete this task. When done, provide a summary of what was accomplished.
